.navbar{
    margin-top: 10px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbarContainer{
    width: 100%;
    max-width: 1024px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 66px;
}